<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
</head>
<body>
    <h1>Pokedex Unicesumar</h1>
    <input type="text" id="pegarPoke">
    <button onclick="">Submit</button>

    <hr>
    <% results.forEach((pokemon, index) => { %>
        <p>Pokemon: <%= pokemon.name %></p>
        <p>ID: <%= index + 1 %></p>
    <% }) %>
</body>
</html>